* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid mediumvioletred;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}


.btn {
    background-color: #1454e1;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    border: none;
    transition: 0.2s ease;
}

@media (hover: hover) {
    .btn:hover {
        background-color: #1f741f;
        transform: scale(1.05);
        transition: 0.1s linear;
    }
}

.btn:active {
    border: 2px solid black;
    transform: scale(1.20);
    background-color: #00ff00;
    transition: 0.05s linear;
    margin-right: 10px;
}